{% extends 'base.html' %} {% block title %}help{% endblock %} {% block body %}

<div class="container-fluid px-0">
  <img src="/static/img/16.jfif" class="d-block w-100" alt="" />
  <h1 class="text-center my-5">Contact US</h1>
</div>

<form class="container mb-5 px-5" action="/help" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="exampleInputPassword1"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock body %}
